body{
    font-family: 'Courier New', Courier, monospace;
}
#txt{
    width: 500px;
    height: 20px;
    font-size: 10px;
}

#frm{
    text-align: center;
}
.nav{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
#btn{
background-color: rgb(42, 104, 238);
font-size: 20px;
border-radius: 5px;
color: white;
padding: 8px;
margin: 10px;
}

.ul, li{
background-color: rgb(54, 52, 52);
color: white;
padding: 5px;
margin: 10px;
display: flex;
font-size: 20px;
}